    <mat-toolbar color="primary">
        <span>Material</span>
    </mat-toolbar>

    <mat-sidenav-container class="example-container">
        <mat-sidenav mode="side" opened>
            <img class="avatar mat-elevation-z8" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-GfjGFvL4t9cUWlaQ2NWrJPF2PiQCNYEbR0oKeB9ahO-oS47EqXJffR0tiuvkl2VhWfc&usqp=CAU" alt="">
            <h4>Gustavo Ramos</h4>
            <p>FullStack Developer</p>
        </mat-sidenav>
        <mat-sidenav-content>Main content</mat-sidenav-content>
    </mat-sidenav-container>
